[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = https://github.com/trebaud/hugo-ink
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/hello-friend-trebaud"]
	path = themes/hello-friend-trebaud
	url = https://github.com/trebaud/hugo-theme-hello-friend.git
